@import './oos.scss';

/* You can add global styles to this file, and also import other style files */
html { 
    height: 100%; 
}

.spacer {
    flex: 1 1 auto;
}

  
body {
    height: 100vh;
    margin: 0; 
    background: #{$dark-background};
    color: $light-primary-text;
}

// form detail elements
.form-elements {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 40px;
}

// drop basics
.description {
    justify-content: flex-end;
    align-items: center;
    font-size: 10px;
}

.drop-footer {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
//-- drop basics

.new-drop-button {
    width: 70px;
    font-size: 40px;
}

// drop icon colors
.goal-icon {
    color: #3998f1;
}
.money-icon {
    color: #ebff3c;
}
.note-icon {
    color: #f83cff;
}
.rate-icon {
    color: #ff874a;
}
.system-icon {
    color: #fff;
}
.task-icon {
    color: #69dd2f;
}
.stream-icon {
    color: #2f80dd;
}
.photo-icon {
    color: #7361d9;
}
// tag colors
.blue {
    color: #0066ff
}

.red {
    color: #dd0000
}

.green {
    color: #00bb00
}

.yellow {
    color: #ff6600
}

.dark {
    color: #000000 
}

.light {
    color: #fff
}

.day {
    background-color: #222;
}
.week {
    background-color: #223; 
}
.month {
    background-color: #232; 
}
.year {
    background-color: #322;
}
.system {
    background-color: #000;
}


