/* You can add global styles to this file, and also import other style files */


body {
    height: 100vh;
    /*overflow-y: hidden;*/
}


.blue {
    color: #0066ff
}

.red {
    color: #dd0000
}

.green {
    color: #00bb00
}

.yellow {
    color: #ff6600
}

.dark {
    color: #000000 
}
