<mat-toolbar class="toolbar" color="primary">
    <button mat-icon-button routerLink="/home">
        <mat-icon aria-label="Back">arrow_back</mat-icon>
    </button>
  <span>Note</span>
</mat-toolbar>
<form class="form-elements">
  <mat-form-field>
    <textarea name="text" matInput placeholder="Enter you text here..." rows="15" [(ngModel)]="drop.text"  autofocus></textarea>
  </mat-form-field>
    <mat-form-field>
        <input name="date" matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="dropDateTime.date" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="field.hasError('required')">
            Date is <strong>required</strong>
        </mat-error> 
    </mat-form-field>
    <mat-form-field >
        <input name="time" matInput [ngxTimepicker]="timepicker" [format]="24" placeholder="Time" [(ngModel)]="dropDateTime.time" required>
        <!--<ngx-material-timepicker-toggle [for]="timepicker"></ngx-material-timepicker-toggle>-->
        <ngx-material-timepicker #timepicker></ngx-material-timepicker>
        <mat-error *ngIf="field.hasError('required')">
            Time is <strong>required</strong>
        </mat-error> 
    </mat-form-field>
    <mat-form-field>
    <mat-label>Recurrence</mat-label>
    <mat-select name="recurrence" [(ngModel)]="drop.recurrence">
        <mat-option *ngFor="let rec of recurrences" [value]="rec.value">{{rec.text}}</mat-option>
    </mat-select>
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="addNote()" *ngIf="!drop.id">
        <mat-icon>add</mat-icon>  Add Note
    </button>
    <button mat-flat-button color="primary" (click)="updateNote()" *ngIf="drop.id">
        <mat-icon>add</mat-icon>  Update Note
    </button>
    <oos-tags [mode]="false" [selected]="drop.tags" (onSelectTag)="selectedTags($event)"></oos-tags>
</form>