<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/home"><ion-icon name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>New Note</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-textarea placeHolder="Enter you text here..." rows="10" [(ngModel)]="drop.text"></ion-textarea>
    </ion-item>  
    <ion-button (click)="addNote()" shape="round" fill="outline">
        <ion-icon name="document" slot="start"></ion-icon>Add Note
    </ion-button>    
    <oos-labels [mode]="false" [selected]="drop.labels" (onSelectLabel)="selectedLabels($event)"></oos-labels>
</ion-content>
