<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/home"><ion-icon name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Note</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-item>
            <ion-icon name="document" slot="start"></ion-icon>
            <ion-label>Note</ion-label>
            <ion-button fill="outline" slot="end" routerLink="/note/edit/{{drop.id}}"><ion-icon name="create"></ion-icon></ion-button>
            <ion-button fill="outline" slot="end" (click)="deleteNote()"><ion-icon name="trash"></ion-icon></ion-button>
        </ion-item>

        <ion-card-content>
            <ion-text color="dark" [innerHTML]="drop.text | newLine "></ion-text>
            <ion-item-divider></ion-item-divider>
            <ion-chip *ngFor="let tag of drop.tags">
                <ion-icon name="pricetags"></ion-icon>
                <ion-label>{{tag}}</ion-label>
            </ion-chip>                
        </ion-card-content>
    </ion-card>
</ion-content>
