<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/home"><ion-icon name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>
      New Note
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label position="floating">{{text}}</ion-label>
        <ion-input [(ngModel)]="text"></ion-input>
    </ion-item>  
    <ion-button (click)="addNote()" shape="round" fill="outline">
        <ion-icon name="add" slot="start"></ion-icon>Add Note
    </ion-button>    
</ion-content>
