<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/home"><ion-icon name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Analytics</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Tab bar -->
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="contact">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Week</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="account">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Month</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="contact">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Year</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="contact">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>All</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>    

    <ion-card *ngFor="let item of analytics">
  <ion-card-header>
    <ion-card-title>{{item.month}}, {{item.year}}</ion-card-title>
    <ion-card-subtitle>Totals per type</ion-card-subtitle>
  </ion-card-header>

    <ion-card-content>
    <ion-list lines="none">
        <ion-item>
            <ion-icon slot="start" color="warning" name="document"></ion-icon>
            <ion-label>Notes</ion-label>
            <ion-badge color="warning" slot="end">{{item.totals.notes}}</ion-badge>
        </ion-item>
        <ion-item>
            <ion-icon slot="start" color="secondary" name="cash"></ion-icon>
            <ion-label>Transactions</ion-label>
            <ion-badge color="success" slot="end">{{item.totals.transactions}} CHF</ion-badge>
        </ion-item>
        <ion-item>
            <ion-icon slot="start" color="tertiary" name="folder"></ion-icon>
            <ion-label>Tasks</ion-label>
            <ion-badge color="tertiary" slot="end">{{item.totals.tasks}}</ion-badge>
        </ion-item>
    </ion-list>
    <ion-button fill="outline" routerLink="3/2019">Details</ion-button>
    </ion-card-content>
    </ion-card>

</ion-content>
