<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/home"><ion-icon name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Analytics</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Tab bar -->
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="contact">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Week</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="account">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Month</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="contact">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Year</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="contact">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>All</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>    

    <ion-list lines="none">
        <ion-item-divider color="light">
            <ion-label>March, 2019</ion-label>
        </ion-item-divider>
        <ion-item routerLink="/analytics/notes/3/2019">
            <ion-icon slot="start" color="warning" name="document"></ion-icon>
            <ion-label>Notes</ion-label>
            <ion-badge color="warning" slot="end">11</ion-badge>
        </ion-item>
        <ion-item>
            <ion-icon slot="start" color="secondary" name="cash"></ion-icon>
            <ion-label>Transactions</ion-label>
            <ion-badge color="success" slot="end">3500 CHF</ion-badge>
        </ion-item>
        <ion-item>
            <ion-icon slot="start" color="tertiary" name="folder"></ion-icon>
            <ion-label>Tasks</ion-label>
            <ion-badge color="tertiary" slot="end">32</ion-badge>
        </ion-item>
        <ion-item-divider color="light">
            <ion-label>February, 2019</ion-label>
        </ion-item-divider>
        <ion-item>
            <ion-icon slot="start" color="warning" name="document"></ion-icon>
            <ion-label>Notes</ion-label>
            <ion-badge color="warning" slot="end">45</ion-badge>
        </ion-item>
        <ion-item>
            <ion-icon slot="start" color="secondary" name="cash"></ion-icon>
            <ion-label>Transactions</ion-label>
            <ion-badge color="success" slot="end">3400 CHF</ion-badge>
        </ion-item>
        <ion-item>
            <ion-icon slot="start" color="tertiary" name="folder"></ion-icon>
            <ion-label>Tasks</ion-label>
            <ion-badge color="tertiary" slot="end">132</ion-badge>
        </ion-item>
    </ion-list>
</ion-content>
