<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/analytics"><ion-icon name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Note Tag Statistics, March, 2019</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list lines="none">
        <ion-item>
            <ion-chip color="medium">
                <ion-icon name="pricetag"></ion-icon>
                <ion-label>Reflections</ion-label>
            </ion-chip>
            <ion-badge color="warning" slot="end">45</ion-badge>
        </ion-item>
        <ion-item>
            <ion-chip color="medium">
                <ion-icon name="pricetag"></ion-icon>
                <ion-label>OOS</ion-label>
            </ion-chip>
            <ion-badge color="warning" slot="end">32</ion-badge>
        </ion-item>
        <ion-item>
            <ion-chip color="medium">
                <ion-icon name="pricetag"></ion-icon>
                <ion-label>Ideas</ion-label>
            </ion-chip>
            <ion-badge color="warning" slot="end">4</ion-badge>
        </ion-item>
    </ion-list>
</ion-content>
