<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/analytics"><ion-icon name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Analytics, March, 2019</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
  <ion-card-header>
    <ion-card-title>March 2019</ion-card-title>
    <ion-card-subtitle>Drops Total per day</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
<ngx-charts-bar-vertical-stacked
  [view]="view"
  [scheme]="colorScheme"
  [results]="single"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  (select)="onSelect($event)">
</ngx-charts-bar-vertical-stacked>
  </ion-card-content>
</ion-card>

    <ion-list>
        <ion-item-divider color="light">
            <ion-label>Tags</ion-label>
        </ion-item-divider>
        <ion-item>
            <ion-chip color="medium">
                <ion-icon name="pricetag"></ion-icon>
                <ion-label>Reflections</ion-label>
            </ion-chip>
            <ion-chip color="warning" slot="end">
                <ion-icon name="document"></ion-icon>
                <ion-label>45</ion-label>
            </ion-chip>
            <ion-chip color="secondary" slot="end">
                <ion-icon name="cash"></ion-icon>
                <ion-label>4500</ion-label>
            </ion-chip>
            <ion-chip color="tertiary" slot="end">
                <ion-icon name="folder"></ion-icon>
                <ion-label>451</ion-label>
            </ion-chip>
        </ion-item>
        <ion-item>
            <ion-chip color="medium">
                <ion-icon name="pricetag"></ion-icon>
                <ion-label>OOS</ion-label>
            </ion-chip>
            <ion-badge color="warning" slot="end">45</ion-badge>
            <ion-badge color="secondary" slot="end">45</ion-badge>
            <ion-badge color="tertiary" slot="end">45</ion-badge>
        </ion-item>
        <ion-item>
            <ion-chip color="medium">
                <ion-icon name="pricetag"></ion-icon>
                <ion-label>Ideas</ion-label>
            </ion-chip>
            <ion-badge color="warning" slot="end">45</ion-badge>
            <ion-badge color="secondary" slot="end">45</ion-badge>
            <ion-badge color="tertiary" slot="end">45</ion-badge>
        </ion-item>
    </ion-list>
</ion-content>
