<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/analytics"><ion-icon name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Analytics, {{analytics.month | monthNames}} {{analytics.year}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
  <ion-card-header>
    <ion-card-title>{{analytics.month | monthNames}} {{analytics.year}}</ion-card-title>
    <ion-card-subtitle>Drops Total per day</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
<ngx-charts-bar-vertical-stacked
  [view]="view"
  [scheme]="colorScheme"
  [results]="data"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  (select)="onSelect($event)">
</ngx-charts-bar-vertical-stacked>
  </ion-card-content>
</ion-card>

    <ion-list>
        <ion-item-divider color="light">
            <ion-label>Tags</ion-label>
        </ion-item-divider>
        <ion-item *ngFor="let tag of analytics.tags">
            <ion-chip color="{{tag.color}}">
                <ion-icon name="pricetag"></ion-icon>
                <ion-label>{{tag.tag}}</ion-label>
            </ion-chip>
            <ion-chip color="warning" slot="end" *ngIf="tag.totals[0] != 0">
                <ion-icon name="document"></ion-icon>
                <ion-label>{{tag.totals[0]}}</ion-label>
            </ion-chip>
            <ion-chip color="tertiary" slot="end" *ngIf="tag.totals[1] != 0">
                <ion-icon name="folder"></ion-icon>
                <ion-label>{{tag.totals[1]}}</ion-label>
            </ion-chip>
            <ion-chip color="secondary" slot="end" *ngIf="tag.totals[2] != 0">
                <ion-icon name="cash"></ion-icon>
                <ion-label>{{tag.totals[2]}} CHF</ion-label>
            </ion-chip>
        </ion-item>
    </ion-list>
</ion-content>
