<mat-toolbar class="toolbar" color="primary">
    <button mat-icon-button routerLink="/home">
        <mat-icon aria-label="Back">arrow_back</mat-icon>
    </button>
  <span>Task</span>
</mat-toolbar>
<div class="form-elements">
    <mat-form-field>
        <input matInput [(ngModel)]="drop.task.title" placeholder="Title...">
    </mat-form-field>
    <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="dropDateTime.date" >
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field >
        <input matInput [ngxTimepicker]="timepicker" [format]="24" placeholder="Time" [(ngModel)]="dropDateTime.time">
        <!--<ngx-material-timepicker-toggle [for]="timepicker"></ngx-material-timepicker-toggle>-->
        <ngx-material-timepicker #timepicker></ngx-material-timepicker>
    </mat-form-field>
<mat-form-field>
  <mat-label>Recurrence</mat-label>
  <mat-select [(ngModel)]="drop.recurrence">
    <mat-option *ngFor="let rec of recurrences" [value]="rec.value">{{rec.text}}</mat-option>
  </mat-select>
</mat-form-field>
  <mat-form-field>
    <textarea matInput placeHolder="Enter you text here..." rows="7" [(ngModel)]="drop.text"></textarea>
  </mat-form-field>
  <button mat-flat-button color="primary" (click)="addTask()" *ngIf="!drop.id">
      <mat-icon>add</mat-icon>  Add Task
  </button>
  <button mat-flat-button color="primary" (click)="updateTask()" *ngIf="drop.id">
      <mat-icon>add</mat-icon>  Update Task
  </button>
  <oos-tags [mode]="false" [selected]="drop.tags" (onSelectTag)="selectedTags($event)"></oos-tags>
</div>  
