<form>
<mat-toolbar class="toolbar" color="primary">
    <button mat-icon-button (click)="goBack()">
        <mat-icon aria-label="Back">arrow_back</mat-icon>
    </button>
  <span>Task</span>
</mat-toolbar>
<div class="form-elements">
    <mat-form-field>
        <input name="title" matInput [(ngModel)]="drop.task.title" placeholder="Title..." required autofocus>
        <mat-error *ngIf="field.hasError('required')">
            Title is <strong>required</strong>
        </mat-error> 
    </mat-form-field>
    <mat-form-field>
        <input name="date" matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="dropDateTime.date" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="field.hasError('required')">
            Date is <strong>required</strong>
        </mat-error> 
    </mat-form-field>
    <mat-form-field >
        <input name="time" matInput [ngxTimepicker]="timepicker" [format]="24" placeholder="Time" [(ngModel)]="dropDateTime.time" required>
        <ngx-material-timepicker #timepicker></ngx-material-timepicker>
        <mat-error *ngIf="field.hasError('required')">
            Time is <strong>required</strong>
        </mat-error> 
    </mat-form-field>
<mat-form-field>
  <mat-label>Recurrence</mat-label>
  <mat-select name="recurrence" [(ngModel)]="drop.recurrence">
    <mat-option *ngFor="let rec of recurrences" [value]="rec.value">{{rec.text}}</mat-option>
  </mat-select>
</mat-form-field>
  <mat-form-field>
    <textarea name="description" matInput placeHolder="Enter you text here..." rows="7" [(ngModel)]="drop.text"></textarea>
  </mat-form-field>
  <button mat-flat-button color="primary" (click)="addTask()" [disabled]="btnDisabled" *ngIf="!drop.id">
      <mat-icon>add</mat-icon> Add Task
  </button>
  <button mat-flat-button color="primary" (click)="updateTask()" [disabled]="btnDisabled" *ngIf="drop.id">
      <mat-icon>update</mat-icon> Update Task
  </button>
  <oos-tags [mode]="false" [selected]="drop.tags" (onSelectTag)="selectedTags($event)"></oos-tags>
</div>  
</form>