
<mat-toolbar class="toolbar" color="primary">
    <div class="tooltitle">
  <button mat-icon-button (click)="menuToggle()">
    <mat-icon aria-label="Menu">menu</mat-icon>
  </button>
  <!--
  <span>OceanOS</span>
  -->
  </div>
  <div class="date-preview">
      <!--
    <span>Preview</span>
    -->
    <mat-form-field>
    <mat-select [(ngModel)]="preview" (selectionChange)="futurePreview($event)">
        <mat-option *ngFor="let time of times" [value]="time.value">{{time.name}}</mat-option>
    </mat-select>
    </mat-form-field>
    <!--
    <span>Until</span>
    -->
    <mat-chip-list>
        <mat-chip color="accent" selected><mat-icon>access_time</mat-icon>&nbsp;{{ page.startAt.toDate() | formatDate }}</mat-chip>
    </mat-chip-list>
    </div>
</mat-toolbar>
<div class="space"></div>
<mat-accordion cdkScrollable>
  <mat-expansion-panel *ngFor="let drop of dropsObs | async; let i = index;  trackBy: dropIdentity"> 
        <mat-expansion-panel-header [ngClass]="{ 'month': isMonth(drop), 'week': isWeek(drop), 'today': isToday(drop), 'past': isPast(drop)  }" >
            <mat-panel-title *ngIf="isNote(drop)"><mat-icon color="primary">note</mat-icon><mat-icon *ngIf="isRecurrent(drop)">loop</mat-icon> <div class="note" [innerHTML]="drop.text.substring(0,20).concat('...') | showdown"></div></mat-panel-title>
            <mat-panel-title *ngIf="isTransaction(drop)"><mat-icon class="transaction">monetization_on</mat-icon><mat-icon *ngIf="isRecurrent(drop)">loop</mat-icon> 
            <mat-chip-list>
                <mat-chip [ngClass]="drop.transaction.type === 'expense' ? 'expense' : 'income'" >{{drop.transaction.value}} {{drop.transaction.currency}}</mat-chip> <mat-panel-description>{{drop.text}}</mat-panel-description>
            </mat-chip-list>
            </mat-panel-title>
            <mat-panel-title *ngIf="isTask(drop)"><mat-icon class="task">folder</mat-icon><mat-icon *ngIf="isRecurrent(drop)">loop</mat-icon> 
                
                <mat-chip-list [selectable]="true" >
                    <mat-chip [ngClass]="{'taskbg' : drop.task.completed }" (click)="complete(drop)"><mat-icon >{{drop.task.completed ? 'check_circle_outline' : 'panorama_fish_eye'}}</mat-icon>&nbsp;{{drop.task.title}}</mat-chip>
                </mat-chip-list>
            </mat-panel-title>
            <mat-panel-title *ngIf="isSystem(drop)" class="drop-summary"><mat-icon>brightness_7</mat-icon><div class="text">{{drop.text}}</div></mat-panel-title>
            <mat-panel-title *ngIf="isAnalytics(drop)" class="drop-summary"><mat-icon>brightness_7</mat-icon><div class="text">{{drop.text}}</div></mat-panel-title>
            <mat-panel-title *ngIf="isRate(drop)" class="drop-summary">
                <mat-icon class="rate">star_rate</mat-icon>
                <mat-icon *ngIf="isRecurrent(drop)">loop</mat-icon>
                <mat-chip-list [selectable]="true">
                    <mat-chip class="rate-bg">
                        {{drop.rate.text}}
                        <mat-icon *ngFor="let key of [1,2,3,4,5]" class="rate" (click)="rate(drop,key)">{{ key <= drop.rate.value ? 'star_rate' : 'star_border'}}</mat-icon> 
                    </mat-chip>
                </mat-chip-list>
            </mat-panel-title>

            <mat-panel-description *ngIf="!isAnalytics(drop) && !isSystem(drop)" class="align-right">{{ drop.date?.toDate() | formatDate }}</mat-panel-description>
        </mat-expansion-panel-header> 


        <div>
            <p *ngIf="!isAnalytics(drop) && !isSystem(drop)" [innerHTML]="drop.text | showdown "></p>
            <mat-list *ngIf="isAnalytics(drop)">
            <h4>Tags</h4>
            <mat-divider></mat-divider>
            <mat-list-item *ngFor="let tag of dropTags(drop)">
                <div class="tag-summary">
                <mat-chip-list>
                    <mat-chip><mat-icon [ngClass]="tagColor(tag)">bookmark</mat-icon>{{tag}}</mat-chip> 
                </mat-chip-list>
                <span class="stats" *ngIf="aTag(drop,tag,6) != 0"><mat-icon class="iconpad" color="primary">note</mat-icon>{{aTag(drop,tag,6)}}</span>
                <span class="stats" *ngIf="aTag(drop,tag,0) != 0"><mat-icon class="task">folder</mat-icon>{{aTag(drop,tag,1)}} of {{aTag(drop,tag,0)}} ({{(aTag(drop,tag,1)/aTag(drop,tag,0)).toFixed(2)*100}}%)</span>
                <span class="stats" *ngIf="aTag(drop,tag,2) != 0 || aTag(drop,tag,3) != 0"  ><mat-icon class="transaction">monetization_on</mat-icon>{{aTag(drop,tag,2)+aTag(drop,tag,3)}}</span>
                <span class="stats" *ngIf="aTag(drop,tag,5) != 0"><mat-icon class="rate">star_rate</mat-icon>{{(aTag(drop,tag,5)/aTag(drop,tag,4)).toFixed(2)}}</span>
                </div>
            </mat-list-item>
                <h4>Summary</h4>
            <mat-divider></mat-divider>
            <mat-list-item>
                <mat-icon color="primary" mat-list-icon>note</mat-icon>
                <h4 mat-line>Notes</h4> 
                    <mat-chip-list>
                        <mat-chip>{{drop.analytics.totals[6]}}</mat-chip>
                    </mat-chip-list>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon class="transaction">monetization_on</mat-icon>
                <h4 mat-line>Transactions</h4>
                    <mat-chip-list>
                        <mat-chip>{{(drop.analytics.totals[2]+drop.analytics.totals[3]).toFixed(2)}}&nbsp;CHF</mat-chip>
                    </mat-chip-list>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon class="task">folder</mat-icon>
                <h4 mat-line>Tasks</h4>
                    <mat-chip-list>
                        <mat-chip>{{(drop.analytics.totals[1]/drop.analytics.totals[exit
                            0]).toFixed(2)*100}}%</mat-chip> 
                    </mat-chip-list>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon class="rate">star_rate</mat-icon>
                <h4 mat-line>Rate</h4>
                    <mat-chip-list>
                        <mat-chip>{{drop.analytics.totals[5]}}</mat-chip>
                    </mat-chip-list>
            </mat-list-item>
        </mat-list>

            <mat-chip-list>
                <mat-chip *ngFor="let t of drop.tags"><mat-icon [ngClass]="tagColor(t)">bookmark</mat-icon> {{t}}</mat-chip> 
            </mat-chip-list>
        </div>
        
        <mat-action-row class="actions" > <!-- *ngIf="!isAnalytics(drop)" *ngIf="!isSystem(drop)"-->
            <button mat-stroked-button color="primary" (click)="edit(drop)">Edit</button>
            <div class="grow"></div>
            <button mat-stroked-button color="warn" (click)="delete(drop)">Delete</button>
        </mat-action-row>

   </mat-expansion-panel>
</mat-accordion>
<button class="fab" mat-fab aria-label="Add drop" (click)="toggleFab()">
    <mat-icon>add</mat-icon>
</button>
<div [ngClass]="{'fab-buttons-on': fabButtons, 'fab-buttons-off': !fabButtons }">
    <button color="primary" mat-mini-fab aria-label="Rate" class="rate-fab" routerLink="/rate/edit/new">
        <mat-icon>star_rate</mat-icon>
    </button>
    <button color="primary" mat-mini-fab aria-label="Note" class="note-fab" routerLink="/note/edit/new">
        <mat-icon>note</mat-icon>
    </button>
    <button mat-mini-fab aria-label="Transaction" class="trans-fab" routerLink="/transaction/edit/new">
        <mat-icon>monetization_on</mat-icon>
    </button>
    <button mat-mini-fab aria-label="Task" class="task-fab" routerLink="/task/edit/new">
        <mat-icon>folder</mat-icon>
    </button>
</div>
