  
<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        List
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-segment (ionChange)="timeFrame($event)" color="medium" value="day">
        <ion-segment-button value="day">
            <ion-label>Day</ion-label>
        </ion-segment-button>
        <ion-segment-button value="week">
            <ion-label>Week</ion-label>
        </ion-segment-button>
        <ion-segment-button value="month">
            <ion-label>Month</ion-label>
        </ion-segment-button>
        <ion-segment-button value="year">
            <ion-label>Year</ion-label>
        </ion-segment-button>
    </ion-segment>
    <ion-list>
        <div *ngFor="let drop of dropsObs | async; let i = index;" >

        <ion-item color="light" *ngIf="isSystem(drop)">
            <ion-icon slot="start" color="dark" name="cog" ></ion-icon>
            <ion-label>{{drop.text}}</ion-label>
        </ion-item>

        <ion-item-sliding #slidingItem *ngIf="isNote(drop)">
            <!-- Note -->
            <ion-item color="{{isToday(drop) ? 'light' : ''}}">
                <ion-icon *ngIf="isRecurrent(drop)" name="sync"></ion-icon> 
                <ion-icon slot="start" color="warning" name="document" ></ion-icon>
                <ion-label><ion-text color="dark">{{drop.text}}</ion-text></ion-label>
                <!-- Common -->
                <ion-chip slot="end" color="{{ isToday(drop) ? 'medium' : isFuture(drop) ? 'warning' : 'light' }}">
                    <ion-icon name="time"></ion-icon>
                    <ion-label>{{ drop.date?.toDate() | formatDate }}</ion-label>
                </ion-chip>
            </ion-item>
            <ion-item-options side="start">
                <ion-item-option (click)="edit(slidingItem,drop)"><ion-icon name="create"></ion-icon></ion-item-option>
            </ion-item-options>

            <ion-item-options side="end">
                <ion-item-option color="danger" (click)="delete(slidingItem,drop)"><ion-icon name="trash"></ion-icon></ion-item-option>
            </ion-item-options>
        </ion-item-sliding>

        <ion-item-sliding #slidingItem *ngIf="isTransaction(drop)">
            <!-- Transaction -->
            <ion-item color="{{isToday(drop) ? 'light' : ''}}">
                <ion-icon *ngIf="isRecurrent(drop)" name="sync"></ion-icon>
                <ion-icon slot="start" color="secondary" name="cash" ></ion-icon>
                <ion-chip color="{{drop.transaction.type === 'expense' ? 'danger' : 'success'}}">
                    <ion-label>{{drop.transaction.value}} {{drop.transaction.currency}}</ion-label>
                </ion-chip>
                <ion-chip color="light">{{drop.text}}</ion-chip>
                <!-- Common -->
                <ion-chip slot="end" color="{{ isToday(drop) ? 'medium' : isFuture(drop) ? 'warning' : 'light' }}">
                    <ion-icon name="time"></ion-icon>               
                    <ion-label>{{ drop.date?.toDate() | formatDate }}</ion-label>
                </ion-chip>
            </ion-item>
            <ion-item-options side="start">
                <ion-item-option (click)="edit(slidingItem,drop)"><ion-icon name="create"></ion-icon></ion-item-option>
            </ion-item-options>

            <ion-item-options side="end">
                <ion-item-option color="danger" (click)="delete(slidingItem,drop)"><ion-icon name="trash"></ion-icon></ion-item-option>
            </ion-item-options>
        </ion-item-sliding>

        <ion-item-sliding #slidingItem *ngIf="isTask(drop)">
            <!-- Task -->
            <ion-item color="{{isToday(drop) ? 'light' : ''}}">
                <ion-checkbox mode="ios" checked="{{drop.task.completed}}" color="success" (click)="complete(drop)"></ion-checkbox>
                <ion-icon *ngIf="isRecurrent(drop)" name="sync"></ion-icon>
                <ion-icon slot="start" color="tertiary" name="folder" ></ion-icon>
                <ion-chip color="{{drop.task.completed ? 'success' : 'dark' }}">
                    <ion-label>{{drop.task.title}}</ion-label>
                </ion-chip>
                <!-- Common -->
                <ion-chip slot="end" color="{{ isToday(drop) ? 'medium' : isFuture(drop) ? 'warning' : 'light' }}">
                    <ion-icon name="time"></ion-icon>               
                    <ion-label>{{ drop.date?.toDate() | formatDate }}</ion-label>
                </ion-chip>
            </ion-item>

            <ion-item-options side="start">
                <ion-item-option (click)="edit(slidingItem,drop)"><ion-icon name="create"></ion-icon></ion-item-option>
            </ion-item-options>

            <ion-item-options side="end">
                <ion-item-option color="danger" (click)="delete(slidingItem,drop)"><ion-icon name="trash"></ion-icon></ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
        </div>

    </ion-list>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
        <ion-fab-button color="warning" routerLink="/note/edit/new"><ion-icon name="document"></ion-icon></ion-fab-button>
        <ion-fab-button color="secondary" routerLink="/transaction/edit/new"><ion-icon name="cash"></ion-icon></ion-fab-button> 
        <ion-fab-button color="tertiary" routerLink="/task/edit/new"><ion-icon name="folder"></ion-icon></ion-fab-button> 
        </ion-fab-list>
    </ion-fab>    
  </ion-content>
  