
.drop-headers .mat-expansion-panel-header-title,
.drop-headers .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.drop-headers .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.drop-headers .mat-form-field + .mat-form-field {
  margin-left: 8px;
}
  
.content {
    display: block;
    position:absolute;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
    margin-top:128px;
    margin-bottom:0px;
    margin-right:10px;
    margin-left:10px;
}

.tag-list {
    width: 100%;
}

// drop icon colors

/*
.goal-icon {
    color: #3998f1;
}
.money-icon {
    color: #ebff3c;
}
.note-icon {
    color: #f83cff;
}
.rate-icon {
    color: #ff874a;
}
.system-icon {
    color: #fff;
}
.task-icon {
    color: #69dd2f;
}
*/
.goal-icon {
    color: #3998f1;
}
.money-icon {
    color: #ebff3c;
}
.note-icon {
    color: #f83cff;
}
.rate-icon {
    color: #ff874a;
}
.system-icon {
    color: #fff;
}
.task-icon {
    color: #69dd2f;
}
.stream-icon {
    color: #2f80dd;
}
.photo-icon {
    color: #7361d9;
}