<mat-toolbar  color="primary">
    <!-- preview -->
        <button mat-icon-button class="new-drop-button" [matMenuTriggerFor]="types">
            <mat-icon aria-label="Add Drop" >menu</mat-icon>
        </button>
        <mat-menu #types="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="dropTypes">
                <mat-icon aria-label="Create">add</mat-icon>New Drop
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item [matMenuTriggerFor]="streams">
                <mat-icon aria-label="Streams">stream</mat-icon>Public Streams
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item routerLink="/settings">
                <mat-icon aria-label="Setting">settings</mat-icon>Settings
            </button>
        </mat-menu>    
        <mat-menu #streams="matMenu">
            <button mat-menu-item *ngFor="let stream of publicStreams$ | async" routerLink="/public-stream/oos/{{stream.name}}">
                <mat-icon [ngClass]="stream.color">{{stream.icon}}</mat-icon>{{stream.name}}
            </button>
        </mat-menu>
        <mat-menu #dropTypes="matMenu">
            <button mat-menu-item aria-label="Note" routerLink="/drop/text/edit/new">
                <mat-icon class="note-icon">note</mat-icon> Text
            </button>
            <button mat-menu-item aria-label="Photo" routerLink="/drop/image/edit/new">
                <mat-icon class="photo-icon">photo</mat-icon> Image
            </button>
            <button mat-menu-item aria-label="Transaction" routerLink="/drop/money/edit/new">
                <mat-icon class="money-icon" >money</mat-icon> Money
            </button>
            <button mat-menu-item aria-label="Task" routerLink="/drop/task/edit/new">
                <mat-icon class="task-icon" >task</mat-icon> Task
            </button>
            <button mat-menu-item aria-label="Goal" routerLink="/drop/goal/edit/new">
                <mat-icon class="goal-icon">flag_circle</mat-icon> Goal
            </button>
            <button mat-menu-item aria-label="Rate" routerLink="/drop/rate/edit/new">
                <mat-icon class="rate-icon">star</mat-icon> Rate
            </button>
        </mat-menu>


        <span style="margin-right: 10px;">Preview</span>
        <mat-select [(ngModel)]="stream.preview" (selectionChange)="futurePreview($event)">
            <mat-option value="day">Day</mat-option>
            <mat-option value="week">Week</mat-option>
            <mat-option value="month">Month</mat-option>
            <mat-option value="year">Year</mat-option>
        </mat-select>
        <span style="margin-right: 10px; margin-left: 10px">@</span>
        <mat-chip-list>
            <mat-chip color="accent" selected (click)="picker.open()"><mat-icon>access_time</mat-icon>&nbsp;{{currentDate$ | async}}</mat-chip>
        </mat-chip-list>
        <input matInput [matDatepicker]="picker" (dateChange)="setStartAt($event)" style="z-index: -100; width:0px;">
        <mat-datepicker #picker></mat-datepicker>

    </mat-toolbar>
    <mat-toolbar color="accent">
    <!-- filter -->
        <mat-form-field class="tag-list" >
            <mat-chip-list #chipList aria-label="Tag selection">
              <mat-chip
                *ngFor="let stream of filteredStreams$ | async" (removed)="unfilterStream(stream)">
                <mat-icon [ngClass]="stream.color" matPrefix>{{stream.icon}}</mat-icon>{{stream.name}}
                <button matChipRemove>
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip>
              <input
                placeholder="Stream filter..."
                #tagInput
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList"
                (matChipInputTokenEnd)="filterStream($event)">
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="filterStream($event)">
              <mat-option *ngFor="let stream of availableStreams$ | async" [value]="stream">
                <mat-icon class="{{stream.color}}">{{stream.icon}}</mat-icon>{{stream.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
</mat-toolbar>         
<!-- drop list --> 
<cdk-virtual-scroll-viewport #scroller itemSize="48" class="content">
    <mat-accordion class="drop-headers" multi>
        <oss-drops *cdkVirtualFor="let drop of drops" [drop]="drop"></oss-drops>
    </mat-accordion>          
</cdk-virtual-scroll-viewport>
