<mat-toolbar  color="primary">
    <!-- preview -->
        <button mat-icon-button class="new-drop-button" [matMenuTriggerFor]="types">
            <mat-icon aria-label="Add Drop" >menu</mat-icon>
        </button>
        <mat-menu #types="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="dropTypes">
                <mat-icon aria-label="Create">add</mat-icon>New
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item [matMenuTriggerFor]="streams">
                <mat-icon aria-label="Streams">stream</mat-icon>Streams
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item routerLink="/settings">
                <mat-icon aria-label="Setting">settings</mat-icon>Settings
            </button>
        </mat-menu>    
        <mat-menu #streams="matMenu">
            <button mat-menu-item *ngFor="let stream of streams$ | async" routerLink="/stream/oos/{{stream.name}}">
                <mat-icon [ngClass]="stream.color">{{stream.icon}}</mat-icon>{{stream.name}}
            </button>
        </mat-menu>
        <mat-menu #dropTypes="matMenu">
            <button mat-menu-item aria-label="Note" routerLink="/note/edit/new">
                <mat-icon class="note-icon">note</mat-icon> Note
            </button>
            <button mat-menu-item aria-label="Photo" routerLink="/photo/edit/new">
                <mat-icon class="photo-icon">photo</mat-icon> Photo
            </button>
            <button mat-menu-item aria-label="Transaction" routerLink="/money/edit/new">
                <mat-icon class="money-icon" >money</mat-icon> Transaction
            </button>
            <button mat-menu-item aria-label="Task" routerLink="/task/edit/new">
                <mat-icon class="task-icon" >task</mat-icon> Task
            </button>
            <button mat-menu-item aria-label="Goal" routerLink="/goal/edit/new">
                <mat-icon class="goal-icon">flag_circle</mat-icon> Goal
            </button>
            <button mat-menu-item aria-label="Rate" routerLink="/rate/edit/new">
                <mat-icon class="rate-icon">star</mat-icon> Rate
            </button>
        </mat-menu>


        <span style="margin-right: 10px;">Preview</span>
        <mat-select [(ngModel)]="stream.preview" (selectionChange)="futurePreview($event)">
            <mat-option value="day">Day</mat-option>
            <mat-option value="week">Week</mat-option>
            <mat-option value="month">Month</mat-option>
            <mat-option value="year">Year</mat-option>
        </mat-select>
        <span style="margin-right: 10px; margin-left: 10px">@</span>
        <mat-chip-list>
            <mat-chip color="accent" selected (click)="picker.open()"><mat-icon>access_time</mat-icon>&nbsp;{{currentDate$ | async}}</mat-chip>
        </mat-chip-list>
        <input matInput [matDatepicker]="picker" (dateChange)="setStartAt($event)" style="z-index: -100; width:0px;">
        <mat-datepicker #picker></mat-datepicker>

    </mat-toolbar>
    <mat-toolbar color="accent">
    <!-- filter -->
        <mat-form-field class="tag-list" >
            <mat-chip-list #chipList aria-label="Tag selection">
              <mat-chip
                *ngFor="let tag of filteredTags$ | async" (removed)="unfilterTag(tag)">
                <mat-icon [ngClass]="tag.color" matPrefix>{{tag.icon}}</mat-icon>{{tag.name}}
                <button matChipRemove>
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip>
              <input
                placeholder="Filter..."
                #tagInput
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList"
                (matChipInputTokenEnd)="filterTag($event)">
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="filterTag($event)">
              <mat-option *ngFor="let tag of availableTags$ | async" [value]="tag">
                <mat-icon class="{{tag.color}}">{{tag.icon}}</mat-icon>{{tag.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
</mat-toolbar>         
<!-- drop list --> 
<cdk-virtual-scroll-viewport #scroller itemSize="48" class="content">
    <mat-accordion class="drop-headers" multi>
        <oss-drops *cdkVirtualFor="let drop of drops" [drop]="drop"></oss-drops>
    </mat-accordion>          
</cdk-virtual-scroll-viewport>
<!-- fab buttons 
<button class="fab" mat-fab aria-label="Add drop" (click)="toggleFab()">
    <mat-icon>add</mat-icon>
</button>
<div [@openClose]="fabButtons ? 'fab-buttons-on' : 'fab-buttons-off' " [ngClass]="fabButtons ? 'fab-buttons-on' : 'fab-buttons-off'"> 
    <button mat-mini-fab aria-label="Note" class="note-icon drop-fab" routerLink="/note/edit/new">
        <mat-icon>note</mat-icon>
    </button>
    <button mat-mini-fab aria-label="Money" class="drop-fab money-icon" routerLink="/money/edit/new">
        <mat-icon>monetization_on</mat-icon>
    </button>
    <button mat-mini-fab aria-label="Task" class="drop-fab task-icon" routerLink="/task/edit/new">
        <mat-icon>folder</mat-icon>
    </button>
    <button mat-mini-fab aria-label="Goal" class="goal-icon drop-fab" routerLink="/goal/edit/new">
        <mat-icon>center_focus_strong</mat-icon>
    </button>
    <button mat-mini-fab aria-label="Rate" class="rate-icon drop-fab" routerLink="/rate/edit/new">
        <mat-icon>star_rate</mat-icon>
    </button>
</div>
-->
