  
<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        List
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-list>
        <ion-item *ngFor="let drop of dropsObs | async; let i = index;" [routerLink]="isNote(drop) ? ['/note',drop.id] : isTransaction(drop) ? ['/transaction',drop.id] : ['/task',drop.id] ">
            <ion-icon *ngIf="isRecurrent(drop)" name="sync"></ion-icon>
            <!-- Note -->
            <ion-icon *ngIf="isNote(drop)" slot="start" color="warning" name="document" ></ion-icon>
            <ion-label *ngIf="isNote(drop)">{{drop.text}}</ion-label>
            <!-- Transaction -->
            <ion-icon *ngIf="isTransaction(drop)" slot="start" color="secondary" name="cash" ></ion-icon>
            <ion-chip *ngIf="isTransaction(drop)" color="{{drop.transaction.type === 'expense' ? 'danger' : 'success'}}">
                <ion-label>{{drop.transaction.value}}</ion-label>
            </ion-chip>
            <ion-chip *ngIf="isTransaction(drop)" color="light">{{drop.text}}</ion-chip>
            <!-- Task -->
            <ion-icon *ngIf="isTask(drop)" slot="start" color="tertiary" name="folder" ></ion-icon>
            <ion-chip *ngIf="isTask(drop)" color="medium">
                <ion-label>{{drop.task.title}}</ion-label>
            </ion-chip>

            <!-- Common -->
            <ion-chip slot="end" color="light">
                <ion-icon name="time"></ion-icon>                    
                <ion-label>{{ drop.date?.toDate() | formatDate }}</ion-label>
            </ion-chip>
        </ion-item>
    </ion-list>
    <!--


<ion-item (click)="buttonClick()">
    <ion-label>
      Button Item
    </ion-label>
  </ion-item>
      <div *ngIf="selectedItem" padding>
        You navigated here from <b>{{selectedItem.title }}</b>
      </div>
    -->
  <!-- fab placed to the top end -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
        <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
        <ion-fab-button color="warning" routerLink="/note/edit/new"><ion-icon name="document"></ion-icon></ion-fab-button>
        <ion-fab-button color="secondary" routerLink="/transaction/edit/new"><ion-icon name="cash"></ion-icon></ion-fab-button> 
        <ion-fab-button color="tertiary" routerLink="/task/edit/new"><ion-icon name="filing"></ion-icon></ion-fab-button> 
        </ion-fab-list>
    </ion-fab>    
  </ion-content>
  