.toolbar {
    position: fixed;
    z-index: 1000;
    display:flex;
}

.space { 
    min-height: 56px;
}

.tooltitle {
    flex: 1;
}

.date-preview {
    display: flex;
    align-items:center;
    justify-content: space-around;
    width: 500px;
}

.mat-expansion-panel-header-description {
    display: flex;
    align-items: center;
    font-size: 10px;
}

.align-right {
    flex-grow: 0;
}

.drop-summary {
    display: flex;
    justify-content: flex-start;
}
.note {
    margin-top:-10px;
    margin-left: 5px;
    height: 24px;
}

div > p {
    display: inline;
}

.text {
    margin-top: 5px;
    margin-bottom:5px;
    margin-left: 10px;
    margin-right: 20px;
    height: 24px;
    vertical-align: center;
    font-weight: bold;
}
p {
    display: inline;
}
.today {
    background-color: #ffffff;
}
.week {
    background-color: #eeeeee; 
}
.month {
    background-color: #dddddd; 
}
.past {
    background-color: #cccccc;
}

.task {
    color: #339900;
}
.taskbg {
    background-color: #66aa00;
}

.expense {
    background-color: #ff6666
}

.income {
    background-color: #66ff66
}

.rate {
    color: #ff6633;
}
.rate-bg {
    background-color: #ffeedd;
}

.title-text {
    height:32px;
    vertical-align:center;
}

.transaction {
    color: #ffcc66;
}

.actions {
    justify-content: flex-start;
}

.grow {
    flex-grow: 1;
}

.fab {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.fab-buttons-on {
    position: fixed;
    bottom: 90px;
    right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.fab-buttons-off {
    display: none;
}

.note-fab {
    margin-bottom: 10px;
}

.rate-fab {
    margin-bottom: 10px;
    background-color: #ff6633;
}

.trans-fab {
    margin-bottom: 10px;
    background-color: #ffcc66;
}

.task-fab {
    background-color: #339900;
    margin-bottom: 10px;
}