<ion-header *ngIf="mode">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Labels
      </ion-title>
    </ion-toolbar>
</ion-header>
  
<ion-content>
    <ion-chip *ngFor="let label of selected; let i = index;" (click)="unselectLabel(i)">
        <ion-icon name="pricetag"></ion-icon>
        <ion-label>{{label}}</ion-label>
    </ion-chip>
    <ion-item-divider>
        <ion-label>Labels</ion-label>
    </ion-item-divider>
    <ion-item>
        <ion-input slot="start" [(ngModel)]="labelName" placeholder="Enter label name..."></ion-input>
        <ion-button (click)="addLabel()" shape="round" fill="outline" slot="end">
                <ion-icon name="add" slot="start"></ion-icon>Add
        </ion-button>    
    </ion-item>  
    <ion-item-divider>
        <ion-label>Available Labels</ion-label>
    </ion-item-divider>
    <ion-list *ngIf="mode; else blockLabels">
        <ion-item *ngFor="let label of labels">
            <ion-chip>
                <ion-icon name="pricetag"></ion-icon>
                <ion-label>{{label.name}}</ion-label>
            </ion-chip>
            <ion-button slot="end" (click)="deleteLabel(label.id)" color="danger" fill="clear">
                <ion-icon name="trash"></ion-icon>
            </ion-button>    
        </ion-item>
    </ion-list>
    <ng-template #blockLabels>
        <span *ngFor="let label of available; let i = index;" (click)="selectLabel(i)">
            <ion-chip>
                    <ion-icon name="pricetag"></ion-icon>
                    <ion-label>{{label}}</ion-label>
            </ion-chip>
        </span>
    </ng-template>
</ion-content>