<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/home"><ion-icon name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>
      Edit Transaction
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-input type="number" value="0.00" [(ngModel)]="drop.transaction.value"></ion-input>
    </ion-item>
  <ion-radio-group [(ngModel)]="drop.transaction.type">
    <ion-item>
      <ion-label>Expense</ion-label>
      <ion-radio value="expense"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Income</ion-label>
      <ion-radio value="income"></ion-radio>
    </ion-item>
  </ion-radio-group>
<ion-item>
  <ion-label>Date</ion-label>
  <ion-datetime display-format="DD MMM YYYY, HH:mm" value="{{ drop.date | iso8601 }}"></ion-datetime>
</ion-item>
  <ion-item>
    <ion-label>Recurrent</ion-label>
    <ion-select [(ngModel)]="drop.transaction.recurrence" okText="Okay" cancelText="Dismiss">
      <ion-select-option value="none">No</ion-select-option>
      <ion-select-option value="month">Montly</ion-select-option>
      <ion-select-option value="week">Weekly</ion-select-option>
      <ion-select-option value="day">Daily</ion-select-option>
    </ion-select>
  </ion-item>
<ion-item>
    <ion-textarea placeHolder="Enter you text here..." rows="4" [(ngModel)]="drop.text"></ion-textarea>
</ion-item>

    <ion-button (click)="addTransaction()" shape="round" fill="outline" *ngIf="!drop.id">
        <ion-icon name="document" slot="start"></ion-icon>Add Transaction
    </ion-button>
    <ion-button (click)="updateTransaction()" shape="round" fill="outline" *ngIf="drop.id">
        <ion-icon name="document" slot="start"></ion-icon>Update Transaction
    </ion-button>
    <oos-tags [mode]="false" [selected]="drop.tags" (onSelectTag)="selectedTags($event)"></oos-tags>
</ion-content>
