<mat-toolbar class="toolbar" color="primary">
    <button mat-icon-button (click)="goBack()">
        <mat-icon aria-label="Back">arrow_back</mat-icon>
    </button>
  <span>Transaction</span>
</mat-toolbar>
<form class="form-elements">
    <mat-form-field>
        <mat-label>{{settings.transaction?.currency}}</mat-label>
        <input matInput type="number" value="0.00" [(ngModel)]="drop.transaction.value" placeholder="Amount..." name="amount" required autofocus>
        <mat-error *ngIf="field.hasError('required')">
            Amount is <strong>required</strong>
        </mat-error> 
    </mat-form-field>
    <mat-form-field>
        <mat-label>Transaction Type</mat-label>
        <mat-select  name="type" [(ngModel)]="drop.transaction.type">
            <mat-option [value]="'expense'">Expense</mat-option>
            <mat-option [value]="'income'">Income</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <input  name="date" matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="dropDateTime.date" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="field.hasError('required')">
            Date is <strong>required</strong>
        </mat-error> 
    </mat-form-field>
    <mat-form-field >
        <input  name="time" matInput [ngxTimepicker]="timepicker" [format]="24" placeholder="Time" [(ngModel)]="dropDateTime.time" required>
        <ngx-material-timepicker #timepicker></ngx-material-timepicker>
        <mat-error *ngIf="field.hasError('required')">
            Time is <strong>required</strong>
        </mat-error> 
    </mat-form-field>
    <mat-form-field>
    <mat-label>Recurrence</mat-label>
    <mat-select [(ngModel)]="drop.recurrence" name="recurrence">
        <mat-option *ngFor="let rec of recurrences" [value]="rec.value">{{rec.text}}</mat-option>
    </mat-select>
    </mat-form-field>
    <mat-form-field>
        <textarea  name="description" matInput placeholder="Enter you text here..." rows="7" [(ngModel)]="drop.text"></textarea>
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="addTransaction()" [disabled]="btnDisabled" *ngIf="!drop.id">
        <mat-icon>add</mat-icon>  Add Transaction
    </button>
    <button mat-flat-button color="primary" (click)="updateTransaction()" [disabled]="btnDisabled" *ngIf="drop.id">
        <mat-icon>add</mat-icon>  Update Transaction
    </button>
    <oos-tags [mode]="false" [selected]="drop.tags" (onSelectTag)="selectedTags($event)"></oos-tags>
</form>
