<mat-toolbar class="toolbar" color="primary">
    <button mat-icon-button routerLink="/home">
        <mat-icon aria-label="Back">arrow_back</mat-icon>
    </button>
  <span>Task</span>
</mat-toolbar>
<form class="form-elements" #dropForm="ngForm">
    <mat-form-field>
        <input name="name" [(ngModel)]="drop.name" matInput placeholder="Name..." required autofocus>
        <mat-error *ngIf="field.hasError('required')">
            Name is <strong>required</strong>
        </mat-error> 
    </mat-form-field>
    <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea name="description" matInput placeHolder="Enter you text here..." rows="7" [(ngModel)]="drop.content.description"></textarea>
    </mat-form-field>
    <mat-form-field>
        <input name="date" matInput type="datetime-local" placeholder="Choose a date" [(ngModel)]="dateISO" required>
        <mat-error *ngIf="field.hasError('required')">
            Date is <strong>required</strong>
        </mat-error> 
    </mat-form-field>
    <mat-form-field>
        <mat-label>Recurrence</mat-label>
        <mat-select name="recurrence" [(ngModel)]="drop.recurrence">
        <mat-option *ngFor="let rec of recurrences" [value]="rec.key">{{rec.value}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-checkbox  [(ngModel)]="drop.clone" *ngIf="drop.recurrence !== 'none'">Clone content</mat-checkbox>
    
    <button mat-flat-button color="accent" (click)="dropData(drop._id)" [disabled]="btnDisabled || !dropForm.form.valid">
        <mat-icon>{{drop._id !== 'new' ? 'update' : 'add'}}</mat-icon>{{drop._id !== 'new' ? 'Update' : 'Add' }} Task
    </button>
</form>
<oos-streams [selected]="drop.streams" (onSelectTag)="selectedStreams($event)"></oos-streams> 
