<mat-toolbar class="toolbar" color="primary">
    <button mat-icon-button routerLink="/home">
        <mat-icon aria-label="Back">arrow_back</mat-icon>
    </button>
  <span>Settings</span>
</mat-toolbar>
<div class="form-elements">
    <mat-label class="section-title"><b>Transaction</b></mat-label>
    <mat-divider class="section"></mat-divider>
    <mat-form-field>
        <mat-label>Currency</mat-label>
        <mat-select [(ngModel)]="settings.transaction.currency">
            <mat-option *ngFor="let currency of currencies" [value]="currency.value">
            {{currency.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-label class="section-title"><b>Home</b></mat-label>
    <mat-divider class="section"></mat-divider>
    <mat-form-field>
        <mat-label>Default Preview</mat-label>
        <mat-select [(ngModel)]="settings.home.preview">
            <mat-option *ngFor="let preview of previews" [value]="preview.value">
            {{preview.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    
    <mat-label class="section-title"><b>System drops</b></mat-label>
    
    <mat-divider class="section"></mat-divider>
    <mat-slide-toggle class="slide" [(ngModel)]="settings.system.day">Current Day is {{ settings.system.day ? 'Active' : 'Inactive' }}</mat-slide-toggle>

    <button mat-flat-button color="primary" [disabled]="btnDisabled" (click)="saveSettings()">
        <mat-icon>save</mat-icon> Save Settings
    </button>
</div>