
.section {
    margin-bottom: 20px;
    margin-top: 10px;
}
.form-elements {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 40px;
    color: #fff;
}
.section-title {
    margin-top: 20px;
}

.slide {
    margin-bottom: 20px;
}