<mat-list>
  <mat-list-item>Transaction</mat-list-item>
    <mat-form-field class="full-width">
        <mat-label>Currency</mat-label>
        <mat-select [(ngModel)]="settings.transaction.currency">
            <mat-option *ngFor="let currency of currencies" [value]="currency.value">
            {{currency.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
  <mat-list-item>Home</mat-list-item>
    <mat-form-field class="full-width">
        <mat-label>Default Preview</mat-label>
        <mat-select [(ngModel)]="settings.home.preview">
            <mat-option *ngFor="let preview of previews" [value]="preview.value">
            {{preview.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Timezone</mat-label>
    <input matInput [(ngModel)]="settings.home.timezone"/>
  </mat-form-field>
  </mat-list>
  <button mat-flat-button color="primary" (click)="saveSettings()">
      <mat-icon>save</mat-icon>
      Save Settings
    </button>
<!--
<ion-content>
    <ion-list>
        <ion-list-header>
            <ion-label>Transactions</ion-label>
        </ion-list-header>
        <ion-item>
            <ion-label>Currency</ion-label>
            <ion-select [(ngModel)]="settings.transaction.currency" okText="Okay" cancelText="Dismiss">
                <ion-select-option value="CHF">Swiss Franc</ion-select-option>
                <ion-select-option value="EUR">Euro</ion-select-option>
                <ion-select-option value="USD">Dollar</ion-select-option>
                <ion-select-option value="GPB">Pound</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-list-header>
            <ion-label>Home</ion-label>
        </ion-list-header>
        <ion-item>
            <ion-label>Default Preview</ion-label>
            <ion-select [(ngModel)]="settings.home.preview" okText="Okay" cancelText="Dismiss">
                <ion-select-option value="day">Day</ion-select-option>
                <ion-select-option value="week">Week</ion-select-option>
                <ion-select-option value="month">Month</ion-select-option>
                <ion-select-option value="year">Year</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Timezone</ion-label>
            <ion-input [(ngModel)]="settings.home.timezone"></ion-input>
        </ion-item>
    </ion-list>    
    
    <ion-button (click)="saveSettings()" shape="round" fill="outline">
        <ion-icon name="document" slot="start"></ion-icon>Save
    </ion-button>
</ion-content>
-->