

.tag-totals {
    width: 100%;
    display: flex;
    font-size: 12px;
    align-items: center;
    margin-top:10px;
    margin-bottom:10px;
    justify-content: left;
}


.tag-summary {
    width: 150px;
}
.expense {
    background-color: #ff6666
}

.income {
    background-color: #66ff66;
    color: #000;
}

.goal-summary {
    background-color: #222;
}