<mat-expansion-panel class="{{drop.color}}">

    <mat-expansion-panel-header>
        <mat-panel-title>
            <mat-icon class="goal-icon">flag_circle</mat-icon>
            <mat-icon *ngIf="drop.recurrence !== 'none'">loop</mat-icon>
            {{drop.title}}
        </mat-panel-title>
        <mat-panel-description class="description">
            {{drop.date | formatDate}}
        </mat-panel-description>
    </mat-expansion-panel-header>

    <div [innerHTML]="drop.text | markdown" ></div>

    <mat-divider></mat-divider>
    
    <mat-chip-list *ngFor="let tag of tags()" class="tag-totals">
        <mat-chip class="tag-summary"><mat-icon class="{{tag.color}}">{{tag.icon}}</mat-icon>{{tag.name}}</mat-chip>
        <mat-chip *ngIf="summary('task',tag)" class="goal-summary"><mat-icon class="task-icon">task</mat-icon>{{summary('task',tag)}}</mat-chip>
        <mat-chip *ngIf="summary('expense',tag)" class="expense"><mat-icon class="money-icon">money</mat-icon>{{summary('expense',tag)}}</mat-chip>
        <mat-chip *ngIf="summary('income',tag)" class="income"><mat-icon class="money-icon">money</mat-icon>{{summary('income',tag)}}</mat-chip>
        <mat-chip *ngIf="summary('rate',tag)" class="goal-summary"><mat-icon class="rate-icon">star</mat-icon>{{summary('rate',tag)}}</mat-chip>
        <mat-chip *ngIf="summary('note',tag)" class="goal-summary"><mat-icon class="note-icon">note</mat-icon>{{summary('note',tag)}}</mat-chip>
        <mat-chip *ngIf="summary('photo',tag)" class="goal-summary"><mat-icon class="photo-icon">photo_camera</mat-icon>{{summary('photo',tag)}}</mat-chip>
    </mat-chip-list>
    <mat-divider></mat-divider>
    <mat-chip-list class="tag-totals">
        <mat-chip class="tag-summary"><mat-icon class="light">summarize</mat-icon>Totals</mat-chip>
        <mat-chip *ngIf="summary('task',null)" class="goal-summary"><mat-icon class="task-icon">task</mat-icon>{{summary('task',null)}}</mat-chip>
        <mat-chip *ngIf="summary('expense',null)" class="expense"><mat-icon class="money-icon">money</mat-icon>{{summary('expense',null)}}</mat-chip>
        <mat-chip *ngIf="summary('income',null)" class="income"><mat-icon class="money-icon">money</mat-icon>{{summary('income',null)}}</mat-chip>
        <mat-chip *ngIf="summary('rate',null)" class="goal-summary"><mat-icon class="rate-icon">star</mat-icon>{{summary('rate',null)}}</mat-chip>
        <mat-chip *ngIf="summary('note',null)" class="goal-summary"><mat-icon class="note-icon">note</mat-icon>{{summary('note',null)}}</mat-chip>
        <mat-chip *ngIf="summary('photo',null)" class="goal-summary"><mat-icon class="photo-icon">photo_camera</mat-icon>{{summary('photo',null)}}</mat-chip>
    </mat-chip-list>

    <mat-action-row>
        <button mat-icon-button (click)="edit()">
            <mat-icon aria-label="Menu">edit</mat-icon>
        </button>
        <div class="spacer"></div>
        <mat-chip-list>
            <mat-chip *ngFor="let t of drop.tags"><mat-icon class="{{t.color}}">{{t.icon}}</mat-icon>{{t.name}}</mat-chip>
        </mat-chip-list>
        <button mat-icon-button (click)="delete()">
            <mat-icon aria-label="Menu">delete</mat-icon>
        </button>
    </mat-action-row>
</mat-expansion-panel >
    
