<mat-toolbar class="toolbar" color="primary">
    <button mat-icon-button routerLink="/home">
        <mat-icon aria-label="Back">arrow_back</mat-icon>
    </button>
  <span>Note</span>
</mat-toolbar>
<form class="form-elements" #dropForm="ngForm">
    <mat-form-field>
        <textarea name="text" matInput placeholder="Enter you text here..." rows="15"  autofocus [(ngModel)]="drop.note!.content"></textarea>
    </mat-form-field>
    
    <mat-form-field>
        <input id="date" matInput type="datetime-local" [(ngModel)]="dateISO"required>
        <mat-error *ngIf="field.hasError('required')">
            Date is <strong>required</strong>
        </mat-error> 
    </mat-form-field>

    <mat-form-field>
        <mat-label>Recurrence</mat-label>
        <mat-select name="recurrence" [(ngModel)]="drop.recurrence ">
            <mat-option *ngFor="let rec of recurrences" [value]="rec.key">{{rec.value}}</mat-option>
        </mat-select>
    </mat-form-field>

    <button mat-flat-button color="primary" (click)="dropData(drop.id)" [disabled]="btnDisabled || !dropForm.form.valid">
        <mat-icon>{{drop.id !== 'new' ? 'update' : 'add'}}</mat-icon>{{drop.id !== 'new' ? 'Update' : 'Add' }} Note
    </button>

    <oos-tags [selected]="drop.tags" (onSelectTag)="selectedTags($event)"></oos-tags>
</form>