<ion-header>
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="auth.user$ | async as user; else login ">
        <ion-button (click)="auth.signOut()" shape="round" fill="outline">
            <ion-icon name="logo-google" slot="start"></ion-icon>Sign Out
        </ion-button>
    </div>
    <ng-template #login>
        <ion-button (click)="auth.googleSignin()" shape="round" fill="outline">
            <ion-icon name="logo-google" slot="start"></ion-icon>Login with Google
        </ion-button>
    </ng-template>
</ion-content>
