<mat-expansion-panel class="{{drop.color}}">

    <mat-expansion-panel-header>
        <mat-panel-title>
            <mat-icon class="note-icon">note</mat-icon>
            <mat-icon *ngIf="drop.recurrence !== 'none'">loop</mat-icon>
            <span [innerHTML]="drop.name | markdown"></span>
        </mat-panel-title>
        <mat-panel-description class="description">
            {{drop.date | formatDate}}
        </mat-panel-description>
    </mat-expansion-panel-header>

    <p [innerHTML]="drop.content.text | markdown" ></p>

    <mat-action-row>
        <button mat-icon-button (click)="edit()">
            <mat-icon aria-label="Menu">edit</mat-icon>
        </button>
        <div class="spacer"></div>
        <mat-chip-list>
            <mat-chip *ngFor="let t of drop.streams"><mat-icon class="{{t.color}}">{{t.icon}}</mat-icon> {{t.name}}</mat-chip> 
        </mat-chip-list>
        <button mat-icon-button (click)="delete()">
            <mat-icon aria-label="Menu">delete</mat-icon>
        </button>
    </mat-action-row>
</mat-expansion-panel >
