
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

.start {
    width: 100%;
    background-color: #ff8100;
    min-height: 100%;
    //background-color:#011c3b; 
}
.p-divider {
    margin-top: 10px;
    margin-bottom: 10px;
}
.avatar {
    vertical-align: middle;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.home {
    position: absolute;
    top: 0px;
    left:0px;
    color: #ff8100;
}

.post{
    max-width: 500px;
    margin-left: auto;
    margin-right:auto;
    background-color: #08314b; 
}

.tags {
    max-width: 532px;
    margin-left: auto;
    margin-right:auto;
    background-color: #08314b; 
}
  
/*
.post .mat-expansion-panel-header-title,
.post .mat-expansion-panel-header-description {
    //flex-basis: 0;
}
*/
.post .mat-expansion-panel-header-description {
    justify-content: right;
    align-items: center;
}


.content {
    display: block;
    position:absolute;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
    margin-top:600px;
    margin-bottom:0px;
    margin-right:auto;
    margin-left:auto;
}
