<mat-toolbar class="toolbar" color="primary">
    <button mat-icon-button routerLink="/home">
        <mat-icon aria-label="Back">arrow_back</mat-icon>
    </button>
  <span>Rate</span>
</mat-toolbar>
<form #rateForm="ngForm" class="form-elements">
    <mat-form-field>
        <input type="text" matInput name="name" [(ngModel)]="drop.rate.text" placeholder="What are you rating?" required autofocus>
        <mat-error *ngIf="field.hasError('required')">
            Rate name is <strong>required</strong>
        </mat-error> 
    </mat-form-field>
    <mat-form-field>
        <input matInput type="number" [(ngModel)]="drop.rate.value" placeholder="Rate" min="0" max="5" step="1" name="value">
    </mat-form-field>
    <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="dropDateTime.date" name="date" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="field.hasError('required')">
            Date is <strong>required</strong>
        </mat-error> 
    </mat-form-field>
    <mat-form-field >
        <input matInput [ngxTimepicker]="timepicker" [format]="24" placeholder="Time" [(ngModel)]="dropDateTime.time" name="time" required>
        <ngx-material-timepicker #timepicker></ngx-material-timepicker>
        <mat-error *ngIf="field.hasError('required')">
            Time is <strong>required</strong>
        </mat-error> 
    </mat-form-field>
    <mat-form-field>
    <mat-label>Recurrence</mat-label>
    <mat-select [(ngModel)]="drop.recurrence" name="recurrence">
        <mat-option *ngFor="let rec of recurrences" [value]="rec.value">{{rec.text}}</mat-option>
    </mat-select>
    </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea matInput placeholder="Enter you text here..." rows="7" [(ngModel)]="drop.text" name="description"></textarea>
  </mat-form-field>
    <button mat-flat-button color="primary" (click)="addRate()" *ngIf="!drop.id">
        <mat-icon>add</mat-icon>  Add Rate
    </button>
    <button mat-flat-button color="primary" (click)="updateRate()" *ngIf="drop.id">
        <mat-icon>add</mat-icon>  Update Rate
    </button>
    <oos-tags [mode]="false" [selected]="drop.tags" (onSelectTag)="selectedTags($event)"></oos-tags>
</form>

