
<mat-list>
    <mat-form-field class="full-width">
        <mat-icon matPrefix>search</mat-icon>
        <input type="search" matInput placeholder="Search">
    </mat-form-field>
    <mat-list-item *ngFor="let tag of (tagsObs | sortTag | searchTag:searchTerm | async ); let i = index; trackBy:tagIdentity;" (click)="selectTag(tag.name)">
        <mat-chip-list matBadge="{{tag.count}}">
        <mat-chip color="{{tag.selected ? 'primary' : 'accent'}}" selected>
            <mat-icon matPrefix>bookmark</mat-icon>
            {{tag.name}}
        </mat-chip>
        </mat-chip-list>
    </mat-list-item>
</mat-list>