<ion-item-group>
  <ion-item-divider>
    <ion-label>Filters: <ion-badge color="primary">{{dropCount}}</ion-badge> drops with <ion-badge color="success">{{tagCount}}</ion-badge> tags selected.</ion-label>
  </ion-item-divider>

  <ion-item color="light">
    <ion-searchbar [(ngModel)]="searchTerm"></ion-searchbar>
  </ion-item>
  <!---->
  <ion-item *ngFor="let tag of (tagsObs | sortTag | searchTag:searchTerm | async ); let i = index" (click)="selectTag(tag.name)" color="{{selectedTags.includes(tag.name) ? 'success' : 'light'}}">
      <ion-icon slot="start" name="pricetag"></ion-icon>
      <ion-label>{{tag.name}}</ion-label>
      <ion-note slot="end">{{tag.count}}</ion-note>
  </ion-item>
</ion-item-group>