<!--
<ons-toolbar><div class="center">Menu</div></ons-toolbar>
<ons-list-title>Options</ons-list-title>
<ons-list>
    <ons-list-item (click)="loadPage(home)" tappable>
    Home
    </ons-list-item>
    <ons-list-item (click)="loadPage(analytics)" tappable>  
    Analytics
    </ons-list-item>
    <ons-list-item (click)="loadPage(settings)" tappable>
    Settings
    </ons-list-item>
</ons-list>
<ons-list-title>Filters</ons-list-title>
<ons-list>
    <ons-list-item (click)="alert()" tappable>
        All
    </ons-list-item>
    <ons-list-item (click)="alert()" tappable>  
        Pending
    </ons-list-item>
    <ons-list-item (click)="alert()" tappable>
        Done
    </ons-list-item>
</ons-list>
-->

<div>ok</div>