<!-- START PRELOADER 
<div class="preloader">
    <div class="status">
        <div class="status-mes"></div>
    </div>
</div>
<!-- END PRELOADER -->

<!-- START NAVBAR -->
<div class="navbar navbar-default navbar-fixed-top menu-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="index.html" class="navbar-brand"><img src="assets/img/logo.png" alt="logo"></a>
        </div>
        <div class="navbar-collapse collapse">
            <nav>
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="page-scroll" href="/home">Home</a></li>
                    <li><a class="page-scroll" href="#feature">Features</a></li>						
                    <li><a class="page-scroll" href="#screenshots">Screenshots</a></li>						
                    <li><a class="page-scroll" href="#pricing">Pricing</a></li>						
                    <li><a class="page-scroll" routerLink="/login">Login/Sign up</a></li>
                    <li><a class="page-scroll" href="#contact">Contact</a></li>
                </ul>
            </nav>
        </div> 
    </div><!--- END CONTAINER -->
</div> 
<!-- END NAVBAR -->	

<!-- START HOME -->
<section data-stellar-background-ratio="0.3" id="home" class="home_bg" style="background-image: url(assets/img/bg/home-bg.jpg);  background-size:cover; background-position: center center;">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="hero-text">
                <h2>Make business easy with Beautiful landing page Approck</h2>
                    <p>Best way to promote your app. With this amazing template</p>
                <div class="home_btn">
                    <a href="#" class="app-btn wow bounceIn" data-wow-delay=".6s" ><i class="fa fa-apple"></i>App Store</a>
                    <a href="#" class="app-btn wow bounceIn" data-wow-delay=".8s" ><i class="fa fa-play"></i>Google Play</a>
                </div>
            </div> 
            </div><!--- END COL -->	
            <div class="col-md-4 col-sm-12 col-xs-12 text-center">
            <div class="hero-text-img">
                <img src="assets/img/iphone_img.jpg" alt="" />
            </div>
            </div><!--- END COL -->			  
        </div><!--- END ROW -->
    </div><!--- END CONTAINER -->
</section>
<!-- END  HOME -->	

<!-- START ABOUT -->
<section id="feature" class="about-content section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="single_about">
                    <i class="fa fa-check"></i>
                    <h4>setup it</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore. </p>
                </div>
            </div><!-- END COL-->
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="single_about">
                    <i class="fa fa-diamond"></i>
                    <h4>use it</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore. </p>
                </div>
            </div><!-- END COL-->
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="single_about">
                    <i class="fa fa-paper-plane-o"></i>
                    <h4>enjoy it</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore. </p>
                </div>
            </div><!-- END COL-->
        </div><!-- END ROW-->
    </div><!-- END CONTAINER-->
</section>
<!-- END ABOUT -->

<!-- START FEATURED ONE -->
<section class="feature-one section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-7 col-xs-12">
                <div class="single_feature_img">
                    <img class="img-responsive wow bounceIn" data-wow-delay=".6s" src="assets/img/mockup3-phone.png" alt="">
                </div>
            </div><!-- END COL-->
            <div class="col-md-5 col-sm-5 col-xs-12">
                <div class="single_feature_one">
                    <h3>Easy to  <br> <strong>Customize</strong></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore. </p>
                    <a class="single_feature_btn_light" href="#">Download Now</a>
                </div>
            </div><!-- END COL-->
        </div><!-- END ROW-->
    </div><!-- END CONTAINER-->
</section>
<!-- END FEATURED ONE -->

<!-- START FEATURED TWO -->
<section class="feature-two section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-5 col-xs-12">
                <div class="single_feature_two">
                    <h3>Unique  &amp; Powerful <br> <strong>Template</strong></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore. </p>
                    <a class="single_feature_btn_light" href="#">Download Now</a>
                </div>
            </div><!-- END COL-->
            <div class="col-md-7 col-sm-7 col-xs-12">
                <div class="single_feature_two_img">
                    <img class="img-responsive wow bounceIn" data-wow-delay=".6s" src="assets/img/2.jpg" alt="">
                </div>
            </div><!-- END COL-->
        </div><!-- END ROW-->
    </div><!-- END CONTAINER-->
</section>
<!-- END FEATURED ONE -->

<!-- START MAIN FEATURES -->
<section class="why_choose_us section-padding">
    <div class="container">
        <div class="row">
            <div class="section-title text-center wow zoomIn">
                <h2>Features</h2>
                <div class="line"></div>
                <p>We've got a lot of amaing and cool features.</p>						
            </div>					
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div id="why_choose">
                    <!-- Wrapper for slides -->
                    <div class="row ">	
                        <div class="col-sm-6">
                            <div class="single_feature">
                                <i class="fa fa-heart-o"></i>
                                <h3>Made with Love</h3>
                                <span></span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras interdum ante vel aliquet euismod. </p>	
                            </div>
                        </div><!-- END COL-->								
                        <div class="col-sm-6">
                            <div class="single_feature">
                                <i class="fa fa-magic"></i>
                                <h3>Powerful</h3>
                                <span></span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras interdum ante vel aliquet euismod. </p>	
                            </div>
                        </div><!-- END COL-->					
                        <div class="col-sm-6">
                            <div class="single_feature">
                                <i class="fa fa-paper-plane-o"></i>
                                <h3>Send Messages</h3>
                                <span></span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras interdum ante vel aliquet euismod. </p>
                            </div>
                        </div><!-- END COL-->							
                        <div class="col-sm-6">
                            <div class="single_feature">
                                <i class="fa fa-money"></i>
                                <h3>Save Money</h3>
                                <span></span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras interdum ante vel aliquet euismod. </p>
                            </div>
                        </div><!-- END COL-->
                    </div><!-- END CAROUSEL INNER -->
                </div><!-- END CAROUSEL SLIDE -->				
            </div><!--- END COL -->
            <div class="col-md-6 col-sm-6 col-xs-12"> 
                <div class="feature_img">
                    <img src="assets/img/mockup.jpg" alt="">
                </div>
            </div><!--- END COL -->						
        </div><!--- END ROW -->			
    </div><!--- END CONTAINER -->		
</section>
<!-- END MAIN FEATURES -->

<!-- START APP SCREENSHOT  -->
<section id="screenshots" class="app-screenshot section-padding">
    <div class="container">
        <div class="row">
            <div class="section-title text-center wow zoomIn">
                <h2>Screenshots</h2>
                <div class="line"></div>
                <p>Our awesome app screenshot gallery here.</p>
            </div>				
            <div class="col-md-10 col-md-offset-1">
                <div class="screenshot-carousel" data-carousel-3d>
                    <img src="assets/img/screenshot/app1.jpg" alt="">
                    <img src="assets/img/screenshot/app2.jpg" alt="">
                    <img src="assets/img/screenshot/app3.jpg" alt="">
                    <img src="assets/img/screenshot/app4.jpg" alt="">
                    <img src="assets/img/screenshot/app5.jpg" alt="">
                </div>
            </div><!--- END COL -->
        </div><!--- END ROW -->			
    </div><!--- END CONTAINER -->	
</section>
<!-- END APP SCREENSHOT -->

<!-- START HOW IT WORKS -->
<section class="about_video" style="background-image: url(assets/img/bg/video-bg.jpg); background-size:cover; background-position: center center;background-attachment:fixed;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <div class="video-container">                  						
                    <a data-toggle="modal" data-target="#video-modal" data-backdrop="true">
                    <span class="play-video"><span class="fa fa-play"></span></span></a>
                    <h3>Watch video</h3>
                </div>
                <!-- VIDEO POPUP -->
                <div class="modal fade video-modal" id="video-modal" role="dialog">
                    <div class="modal-content">
                        <iframe width="712" height="400" src="https://www.youtube.com/embed/EWan2YcodSM"></iframe>
                    </div>
                </div>
                <!-- END VIDEO POPUP -->	
            </div><!--- END COL -->					
        </div><!--- END ROW -->
    </div><!--- END CONTAINER -->	
</section>
<!-- END HOW IT WORKS -->

<!-- START MORE FEATURES -->
<section class="more_features section_padding">
    <div class="container">			
        <div class="row">
            <div class="section-title text-center wow zoomIn">
                <h2>More Features</h2>
                <div class="line"></div>
                <p>We've got a lot of features, here are some more</p>
            </div>					
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single_more_feature">
                    <div class="bg-icon">
                        <span class="fa fa-heart"></span>
                    </div>
                    <div class="single_icon">
                        <span class="fa fa-heart"></span>
                    </div>
                    <div class="single_text">
                        <h3>Made with Love</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, explicabo.</p>
                    </div>
                </div>
            </div><!--- END COL -->	
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single_more_feature">
                    <div class="bg-icon">
                        <span class="fa fa-paper-plane-o"></span>
                    </div>
                    <div class="single_icon">
                        <span class="fa fa-paper-plane-o"></span>
                    </div>
                    <div class="single_text">
                        <h3>Send Messages</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, explicabo.</p>
                    </div>
                </div>
            </div><!--- END COL -->	
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single_more_feature">
                    <div class="bg-icon">
                        <span class="fa fa-trophy"></span>
                    </div>
                    <div class="single_icon">
                        <span class="fa fa-trophy"></span>
                    </div>
                    <div class="single_text">
                        <h3>Award Winning</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, explicabo.</p>
                    </div>
                </div>
            </div><!--- END COL -->	
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single_more_feature">
                    <div class="bg-icon">
                        <span class="fa fa-money"></span>
                    </div>
                    <div class="single_icon">
                        <span class="fa fa-money"></span>
                    </div>
                    <div class="single_text">
                        <h3>Save Money</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, explicabo.</p>
                    </div>
                </div>
            </div><!--- END COL -->	
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single_more_feature">
                    <div class="bg-icon">
                        <span class="fa fa-cog"></span>
                    </div>
                    <div class="single_icon">
                        <span class="fa fa-cog"></span>
                    </div>
                    <div class="single_text">
                        <h3>Customizable</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, explicabo.</p>
                    </div>
                </div>
            </div><!--- END COL -->	
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single_more_feature">
                    <div class="bg-icon">
                        <span class="fa fa-database"></span>
                    </div>
                    <div class="single_icon">
                        <span class="fa fa-database"></span>
                    </div>
                    <div class="single_text">
                        <h3>Data Report</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, explicabo.</p>
                    </div>
                </div>
            </div><!--- END COL -->		
        </div><!--- END ROW -->
    </div><!--- END CONTAINER -->
</section>
<!-- END MORE FEATURES -->

<!-- START PRICING TABLE -->
<section id="pricing" class="our_pricing section-padding">
    <div class="container">
        <div class="row">
            <div class="section-title text-center wow zoomIn">
                <h2>Pricing plan</h2>
                <div class="line"></div>
                <p>Get start your business with our awesome pricing plan.</p>
            </div>					
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="single-pricing">
                    <div class="pricing-title">
                        <p>Starter</p>
                    </div>
                    <div class="pricing-price">
                        <p><sup>$ </sup>8.00</p>
                    </div>
                    <div class="pricing-features">
                        <p>Fully Responsive</p>
                        <p>Clean and modern</p>
                        <p>Simple and professional</p>
                        <p>24/7 support</p>
                    </div>
                    <div class="pricing_btn">
                        <p><a href="#"> Buy Now</a></p>
                    </div>							
                </div>					
            </div><!--- END COL -->	
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="single-pricing">
                    <div class="pricing-title">
                        <p>Popular</p>
                    </div>
                    <div class="pricing-price">
                        <p><sup>$ </sup>12.00</p>
                    </div>
                    <div class="pricing-features">
                        <p>Fully Responsive</p>
                        <p>Clean and modern</p>
                        <p>Simple and professional</p>
                        <p>24/7 support</p>
                    </div>
                    <div class="pricing_btn">
                        <p><a href="#"> Buy Now</a></p>
                    </div>							
                </div>					
            </div><!--- END COL -->	
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="single-pricing">
                    <div class="pricing-title">
                        <p>Business</p>
                    </div>
                    <div class="pricing-price">
                        <p><sup>$ </sup>16.00</p>
                    </div>
                    <div class="pricing-features">
                        <p>Fully Responsive</p>
                        <p>Clean and modern</p>
                        <p>Simple and professional</p>
                        <p>24/7 support</p>
                    </div>
                    <div class="pricing_btn">
                        <p><a href="#"> Buy Now</a></p>
                    </div>							
                </div>					
            </div><!--- END COL -->	
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="single-pricing">
                    <div class="pricing-title">
                        <p>Enterprise</p>
                    </div>
                    <div class="pricing-price">
                        <p><sup>$ </sup>20.00</p>
                    </div>
                    <div class="pricing-features">
                        <p>Fully Responsive</p>
                        <p>Clean and modern</p>
                        <p>Simple and professional</p>
                        <p>24/7 support</p>
                    </div>
                    <div class="pricing_btn">
                        <p><a href="#"> Buy Now</a></p>
                    </div>							
                </div>					
            </div><!--- END COL -->		
        </div><!--- END ROW -->
    </div><!--- END CONTAINER -->
</section>
<!-- END PRICING TABLE -->

<!-- START TESTIMONIAL -->
<section class="testimonial section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                <div id="team__carousel" class="carousel slide" data-ride="carousel" data-interval="9999999">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#team__carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#team__carousel" data-slide-to="1"></li>
                        <li data-target="#team__carousel" data-slide-to="2"></li>
                        <li data-target="#team__carousel" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner text-center">
                        <div class="item active">
                            <div class="testimonial-text">
                                <i class="fa fa-quote-left"></i>
                                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.Lorem ipsum dolor sit amet, consectetur..."</p>
                                <img src="assets/img/testimonial/1.jpg" class="img-responsive" alt="" />
                                <h4>Syed Ekram</h4>
                                <h5>company name</h5>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-text">
                                <i class="fa fa-quote-left"></i>
                                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.Lorem ipsum dolor sit amet, consectetur..."</p>
                                <img src="assets/img/testimonial/2.jpg" class="img-responsive" alt="" />
                                <h4>Syed Ekram</h4>
                                <h5>company name</h5>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-text">
                                <i class="fa fa-quote-left"></i>
                                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.Lorem ipsum dolor sit amet, consectetur..."</p>
                                <img src="assets/img/testimonial/3.jpg" class="img-responsive" alt="" />
                                <h4>Syed Ekram</h4>
                                <h5>company name</h5>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-text">
                                <i class="fa fa-quote-left"></i>
                                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.Lorem ipsum dolor sit amet, consectetur..."</p>
                                <img src="assets/img/testimonial/4.jpg" class="img-responsive" alt="" />
                                <h4>Syed Ekram</h4>
                                <h5>company name</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--- END COL -->				
        </div><!--- END ROW -->
    </div><!--- END CONTAINER -->	
</section>
<!-- END TESTIMONIAL -->

<!-- START DOWNLOAD -->
<section id="download" class="download section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12 text-center">
                <div class="download_icon">
                    <h2>Download this app now</h2>
                    <a href="#"><img src="assets/img/apple.png" alt="" /></a>
                    <a href="#"><img src="assets/img/android.png" alt="" /></a>
                </div>
            </div><!--- END COL -->				
        </div><!--- END ROW -->
    </div><!--- END CONTAINER -->		
</section>
<!-- END DOWNLOAD -->

<!-- START NEWSLETTER -->
<section class="newsletter section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12 text-center">
                <div class="signup_form">
                    <h3 class="section-title-white">Subscribe to stay update</h3>
                        <!-- Replace the form action in the line below with your MailChimp embed action! -->
                    <form novalidate="" target="_blank" class="validate" name="mc-embedded-subscribe-form" method="post" action="http://site90.us11.list-manage.com/subscribe/post?u=599a2153f4b86cb2f92d4af3a&amp;id=26d7c26287">
                        <input type="email" placeholder="Enter Email" id="mce-email" class="form-control" name="EMAIL">
                        <span><button class="btn btn-detault btn-light-bg" name="subscribe" type="submit">Subscribe</button></span>
                        <div id="mce-responses">
                            <div style="display:none" id="mce-error-response" class="response"></div>
                            <div style="display:none" id="mce-success-response" class="response"></div>
                        </div>
                    </form>
                </div>
            </div><!--- END COL -->				
        </div><!--- END ROW -->
    </div><!--- END CONTAINER -->		
</section>
<!-- END NEWSLETTER -->

<!-- START CONTACT FORM -->
<section id="contact" class="contact_area section-padding">
    <div class="container">
        <div class="row">	
            <div class="section-title text-center wow zoomIn">
                <h2>get in touch</h2>
                <div class="line"></div>
                <p>If you have any question, get in touch here.</p>
            </div>								
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="contact">
                    <form id="contact-form" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="form-group col-md-4">
                                <input type="text" name="name" class="form-control" placeholder="Name" required="required">
                            </div>
                            <div class="form-group col-md-4">
                                <input type="email" name="email" class="form-control" placeholder="Email" required="required">
                            </div>
                            <div class="form-group col-md-4">
                                <input type="text" name="subject" class="form-control" placeholder="Subject" required="required">
                            </div>
                            <div class="form-group col-md-12">
                                <textarea rows="6" name="message" class="form-control" placeholder="Your Message" required="required"></textarea>
                            </div>
                            <div class="col-md-12 text-center">
                                <button type="submit" value="Send message" name="submit" id="submitButton" class="btn btn-lg btn-contact-bg" title="Submit Your Message!">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div><!-- END COL -->						
        </div><!--- END ROW -->				
    </div><!--- END CONTAINER -->	
</section>
<!-- END CONTACT FORM  -->

<!-- START ADDRESS -->
<section class="our-address section-padding">
    <div class="container">
        <div class="row text-center">			
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="single_address">
                    <i class="fa fa-map-marker"></i>
                    <h4>Our Location</h4>
                    <p>3481 Melrose Place, Beverly Hills CA 90210</p>
                </div>
            </div><!-- END COL -->
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="single_address">
                    <i class="fa fa-phone"></i>
                    <h4>Telephone</h4>
                    <p>(+1) 517 397 7100</p>
                </div>
            </div><!-- END COL -->
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="single_address">
                    <i class="fa fa-envelope-o"></i>
                    <h4>Send email</h4>
                    <p>Info@Approck.com</p>
                </div>
            </div><!-- END COL -->
        </div><!-- END ROW -->						
    </div><!--- END CONTAINER -->	
</section>
<!-- END ADDRESS -->

<!-- START FOOTER -->
<div class="footer">
    <div class="container">
        <div class="row">					
            <div class="col-md-6 col-sm-6 col-xs-12 wow zoomIn">
                <div class="copyright">
                    <p>Copyright &copy; 2017 |    All Rights Reserved.</p>
                </div><!--- END FOOTER COPYRIGHT -->
            </div><!--- END COL -->		
            <div class="col-md-6 col-sm-6 col-xs-12 wow zoomIn">
                <div class="footer_social pull-right">
                    <ul>
                        <li><a class="f_facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="f_twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="f_google" href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a class="f_linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a class="f_youtube" href="#"><i class="fa fa-youtube"></i></a></li>
                        <li><a class="f_skype" href="#"><i class="fa fa-skype"></i></a></li>
                    </ul>
                </div>
            </div><!--- END COL -->			
        </div><!--- END ROW -->				
    </div><!--- END CONTAINER -->
</div>
<!-- END FOOTER -->		
