<div class="form-elements">
    <mat-divider class="divider">Tags</mat-divider>
    <mat-chip-list>
        <mat-chip color="accent" *ngFor="let tag of tagsSelected()" (click)="unselectTag(tag.name)"><mat-icon>bookmark</mat-icon>{{tag.name}}</mat-chip>
    </mat-chip-list>
    <mat-form-field >
        <input matInput [(ngModel)]="tagName" placeholder="Enter tag name...">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Color</mat-label>
        <mat-select [(ngModel)]="tagColor">
            <mat-option *ngFor="let color of colors" [value]="color.value">
                <mat-chip-list><mat-chip>{{color.name}}</mat-chip></mat-chip-list>
            </mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="addTag()">
        <mat-icon>add</mat-icon>  Add Tag
    </button>
    <mat-divider class="divider">Available Tags</mat-divider>
    <mat-chip-list *ngIf="mode; else blockTags">
        <mat-chip color="primary" *ngFor="let tag of tags" [removable]="true" (removed)="deleteTag(tag.id)"><mat-icon>bookmark</mat-icon>{{tag.name}}<mat-icon matChipRemove *ngIf="true">cancel</mat-icon></mat-chip>
    </mat-chip-list>
    <ng-template #blockTags>
        <mat-chip-list>
            <mat-chip color="primary" *ngFor="let tag of tagsAvailable()" (click)="selectTag(tag.name)" ><mat-icon>bookmark</mat-icon>{{tag.name}}<mat-icon matChipRemove *ngIf="true">cancel</mat-icon></mat-chip>
        </mat-chip-list>
    </ng-template>
</div>