<ion-header *ngIf="mode">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Tags
      </ion-title>
    </ion-toolbar>
</ion-header>
  
<ion-content>
    <ion-chip *ngFor="let tag of selected; let i = index;" (click)="unselectTag(i)">
        <ion-icon name="pricetag"></ion-icon>
        <ion-label>{{tag}}</ion-label>
    </ion-chip>
    <ion-item-divider>
        <ion-label>Tags</ion-label>
    </ion-item-divider>
    <ion-item>
        <ion-input slot="start" [(ngModel)]="tagName" placeholder="Enter tag name..."></ion-input>
        <ion-button (click)="addTag()" shape="round" fill="outline" slot="end">
                <ion-icon name="add" slot="start"></ion-icon>Add
        </ion-button>    
    </ion-item>  
    <ion-item-divider>
        <ion-label>Available Tags</ion-label>
    </ion-item-divider>
    <ion-list *ngIf="mode; else blockTags">
        <ion-item *ngFor="let tag of tags">
            <ion-icon name="pricetag" slot="start"></ion-icon>
            <ion-label>{{tag.name}}</ion-label>
            <ion-badge color="dark">{{tag.count}}</ion-badge>
            <ion-button slot="end" (click)="deleteTag(tag.id)" color="danger" fill="clear">
                <ion-icon name="trash"></ion-icon>
            </ion-button>    
        </ion-item>
    </ion-list>
    <ng-template #blockTags>
        <span *ngFor="let tag of available; let i = index;" (click)="selectTag(i)">
            <ion-chip>
                    <ion-icon name="pricetag"></ion-icon>
                    <ion-label>{{tag}}</ion-label>
            </ion-chip>
        </span>
    </ng-template>
</ion-content>