@import '../../oos.scss';
.tagcomponent {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.divider {
    margin-top: 20px;
    margin-bottom: 20px;
}

.tag-color {
  display: flex;
  justify-content: space-around;
}

.title {
  margin-top: 20px;
  font-weight: bold;
  color: $light-primary-text;
}

.tag-button {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 20px;
}

